PORT=3010
STREAM_STORAGE_DIR=./storage
STREAM_TOKEN_SECRET=dev-stream-token-secret
STREAM_PROBE_INTERVAL_MS=5000
STREAM_DEFAULT_INGEST_TRANSPORT=auto
STREAM_DEFAULT_INGEST_ENCRYPTION=optional
STREAM_DEFAULT_INGEST_TUNNEL=none
STREAM_MEDIA_ENGINE=mock
STREAM_MEDIAMTX_BIN=mediamtx
STREAM_STORAGE_DEFAULT_VAULT_ID=default
STREAM_STORAGE_VAULTS_JSON=[{"id":"default","basePath":"./storage"}]
STREAM_STORAGE_PLAN_VAULT_MAP_JSON={}
STREAM_STORAGE_FAILOVER_ENABLED=1
STREAM_STORAGE_HEALTHCHECK_ENABLED=1
STREAM_STORAGE_HEALTHCHECK_MS=30000
STREAM_STORAGE_HEALTHCHECK_WRITE_PROBE=1
STREAM_STORAGE_TENANT_QUOTAS_JSON={}
STREAM_STORAGE_DEFAULT_TENANT_QUOTA_BYTES=0
STREAM_STORAGE_TENANT_QUOTA_TARGET_PCT=90
STREAM_EVENT_CLIP_STRATEGY=concat
STREAM_EVENT_CLIP_FFMPEG_BIN=ffmpeg
STREAM_OBSERVE_SCRATCH_DIR=./storage-observe
STREAM_RETENTION_ENABLED=0
STREAM_RETENTION_DAYS=7
STREAM_RETENTION_SWEEP_MS=300000
STREAM_RETENTION_MIN_FILE_AGE_SECONDS=45
STREAM_RETENTION_MAX_DISK_USAGE_PCT=85
STREAM_RETENTION_TARGET_DISK_USAGE_PCT=75
STREAM_RETENTION_FILE_EXTENSIONS=.ts,.m4s,.mp4,.mkv,.fmp4
