LOCAL_ADMIN_ORIGIN=http://localhost:5173
LOCAL_PORTAL_ORIGIN=http://localhost:5174
STREAM_MEDIA_ENGINE=mock
STREAM_DEFAULT_INGEST_TRANSPORT=auto
STREAM_DEFAULT_INGEST_ENCRYPTION=optional
STREAM_DEFAULT_INGEST_TUNNEL=none
ALERTMANAGER_WEBHOOK_DEFAULT_URL=http://alert-webhook:80/default
ALERTMANAGER_WEBHOOK_CRITICAL_URL=http://alert-webhook:80/critical
ALERTMANAGER_WEBHOOK_WARNING_URL=http://alert-webhook:80/warning
ALERTMANAGER_WEBHOOK_INFO_URL=http://alert-webhook:80/info
